body{
    text-align: center;
    background-color: blanchedalmond;
}

p{
    font-size: 5rem;
}

button{
    font-size: 3rem;
    margin: 0 10px 0 10px;
}


.green{
    color: green;
}